binds {
    Mod+WheelScrollRight cooldown-ms=200 { focus-column-right; }
    Mod+WheelScrollLeft cooldown-ms=200 { focus-column-left; }

    Mod+Return repeat=false { spawn "uwsm" "app" "--" "kitty"; }
    Mod+Q repeat=false  { close-window; }

    Mod+Space repeat=false { spawn "qs" "ipc" "call" "launcher" "toggle"; }
    Mod+L repeat=false { spawn "qs" "ipc" "call" "lock" "lock"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Shift+Home { move-column-to-first; }
    Mod+Shift+End  { move-column-to-last; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+1 { focus-workspace "1"; }
    Mod+2 { focus-workspace "2"; }
    Mod+3 { focus-workspace "3"; }
    Mod+4 { focus-workspace "4"; }
    Mod+5 { focus-workspace "5"; }
    Mod+6 { focus-workspace "6"; }
    Mod+7 { focus-workspace "7"; }
    Mod+8 { focus-workspace "8"; }
    Mod+9 { focus-workspace "9"; }
    Mod+Shift+1 { move-column-to-workspace "1"; }
    Mod+Shift+2 { move-column-to-workspace "2"; }
    Mod+Shift+3 { move-column-to-workspace "3"; }
    Mod+Shift+4 { move-column-to-workspace "4"; }
    Mod+Shift+5 { move-column-to-workspace "5"; }
    Mod+Shift+6 { move-column-to-workspace "6"; }
    Mod+Shift+7 { move-column-to-workspace "7"; }
    Mod+Shift+8 { move-column-to-workspace "8"; }
    Mod+Shift+9 { move-column-to-workspace "9"; }

    //Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+Shift+F { maximize-column; }
    Mod+Ctrl+F { fullscreen-window; }

    Mod+B { toggle-window-floating; }
    Mod+Shift+B { switch-focus-between-floating-and-tiling; }

    Mod+Shift+E { spawn-sh "rm -f /tmp/screenshot.png && niri msg action screenshot --show-pointer=false"; }

    Mod+C { spawn "wtype" "-M" "ctrl" "-k" "Insert"; }
    Mod+V { spawn "wtype" "-M" "shift" "-k" "Insert"; }
    Mod+X { spawn "wtype" "-M" "ctrl" "-k" "x"; }
    Mod+S { spawn "wtype" "-M" "ctrl" "-k" "s"; }
    Mod+A { spawn "wtype" "-M" "ctrl" "-k" "a"; }
    Mod+F { spawn "wtype" "-M" "ctrl" "-k" "f"; }
    Mod+Z { spawn "wtype" "-M" "ctrl" "-k" "z"; }
    Mod+Shift+Z { spawn "wtype" "-M" "ctrl" "-M" "shift" "-k" "z"; }
    Mod+T { spawn "wtype" "-M" "ctrl" "-k" "t"; }
    Mod+W { spawn "wtype" "-M" "ctrl" "-k" "w"; }
    Mod+N { spawn "wtype" "-M" "ctrl" "-k" "n"; }
    Mod+R { spawn "wtype" "-M" "ctrl" "-k" "r"; }
}
