layout {
    gaps 8

    struts {
        left -8
        right -8
        top -8
        bottom -8
    }

    center-focused-column "never"

    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
    }

    border {
        off
    }
}

gestures {
    hot-corners {
        off
    }
}
