window-rule {
  geometry-corner-radius 12

  clip-to-geometry true
}

window-rule {
    match title="^Open File.*$"
    match title="^Select a File.*$"
    match title="^Save As.*$"
    match title="^File Upload.*$"
    match title=".*wants to save$"
    match title=".*wants to open$"
    match title=".*Minecraft.*"

    open-floating true
}

window-rule {
    match app-id="1password"
    open-floating true
    open-focused true
    block-out-from "screencast"
}

window-rule {
    match title=".*Minecraft.*"
    variable-refresh-rate true
}

layer-rule {
    match namespace="^quickshell-wallpaper$"
    place-within-backdrop true
}
